@import "./reset.css";

body{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    min-width: 300px;
}
.wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 163px;

}

.contain {
    width: 1215px;
    margin-left: auto;
    margin-right: auto;
}

.contain__menu /* top-1-w*/{
    display: flex;
    justify-content: space-between;
}

.menu__boddy /* top-1*/{
    display: flex;
    background-color: #219653;
    height: 20px;
    align-items: center;
}

ul.menu__list /* top-mnu-1*/{
    display: flex;
    align-items: center;    
}

.menu__item {
    a{
        line-height: 19px;
        margin-right: 10.5px;
        font-size: 12px;
        color: #ffffff;
    }
}

.user__link{
    line-height: 21px;
    margin-right: 27px;
    display: flex;
    font-size: 12px;
    color: #ffffff;
    background: url("../img/user-link.png") no-repeat left center;
    padding-left: 32px;
}

.contain__logo {
    padding: 5px 0 13px 0;    
    display: flex; 
    height: 90px;
}

.contain__menu-logo {
    display: flex;
    justify-content: space-between;
}
.menu__logo {
    display: flex;    
    align-items: center;
}
a.logo {
    display: flex;
    align-items: center;
    height: 80px;
    /**background: url("../img/logo1.png") no-repeat left center;*/
}
.logos{
    margin-top: 10px;
    margin-left: 6px;
}
.phone {
    a{
    display:block;
    margin-top: 9px;
    margin-left: 22px;
    margin-bottom: 9px;
    padding-left: 35px;    
    color: #333333;
    font-size: 18px;
    height: 26px;
    background: url("../img/phone.png") no-repeat left center;
    }
}
.contain__menu-cart {
    display: flex;
    align-items: center;
}
.contain__cart-text {

    a{
    display: block;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 20px;
    line-height: 36px;
    padding-left: 75px;
    color: #333333;
    font-size: 18px;
    height: 73px;
    background: url("../img/cart.png") no-repeat left center;
    }
}

.ground {
    width: 1215px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #BDBDBD;
}

.navigate{
    display: flex;    
    align-items: center;
}

.navigate__list{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.navigate__item{

    a{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;        
        color: #58C800;    
    }
}

.search {
    display: flex;
    margin-top: 7px;
    height: 30px;        
    }

.search__term {
    flex-grow: 1;
    border: 1px solid #BDBDBD;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;    
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-left: 9px;
    }

.search__term:focus{
    color: #380136;
    }

.search__button {
    width: 40px;
    border: 1px solid #BDBDBD;
    background: #BDBDBD;
    text-align: center;
    color: #eeeeee;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    }

.wrap{
    display: flex;
}

.main{
    display: flex;
    margin-top: 15px;
}

.main__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;    
    gap: 11px;
    margin-left: 15px;    
}

.block__nav{  
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
}

.block__img{
    display: block;
    width: 206px;
    height: 167px;
}
.block__nav span{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    text-align: center;
}
.burger{
    display: none;
}
@media (max-width: 1199px) {
    .main__block{
        margin-left: 0px; 
    }
}
@media (max-width: 1184px) {
    .main__block{
        margin-left: 0px; 
    }
    .main__block{
        justify-content:space-between;
        gap: 0px;
    }
    .block__img{
        display: flex;
        width:fit-content;
        height:fit-content;
    }
    .block__nav{
    flex-basis: 19%;
    margin-bottom: 15px;
    }
}
@media (max-width: 1100px){
    .block__nav span{
        font-size: 20px;
    }
}
@media (max-width: 1039px){
    .navigate__item{

        a{
            font-size: 22px;         
        }
    }
}
@media (max-width: 949px){
    .navigate__item{

        a{
            font-size: 20px;         
        }
    }
    .main__block{
        flex-wrap: wrap;
        justify-content: start;
        gap: 11px;      
    }
    .block__nav{
        display: block;
        flex-wrap: wrap;   
        margin-bottom: 0px;
        flex-basis: 24%;
    }
    .block__img{
        width:206px;
        height:fit-content;
    }
    
}
@media (max-width: 871px){
    .burger{
        display: block;
        margin-left: 15px;
    }
    .catalog{
        display: none;
    }
    .main__block{
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;      
    }
    .block__nav{
        display: block;
        flex-wrap: wrap;   
        margin-bottom: 0px;
        flex-basis: 19%;
    }
    
    .block__img{
        display: flex;
        width:fit-content;
        height:fit-content;
    }
    .block__nav span{
        font-size: 16px;
    }
}
@media (max-width: 800px)
{
    .main__block{
        display: flex;
        justify-content: start;
        gap: 8%;   
    }
    .block__nav{
        display: flex;  
        margin-bottom: 15px;
        flex-basis: 28%;
    }
    .block__img{
        display: block;
        width:206px;
        height:fit-content;
        align-items: center;
    }
    .phone{
        display: none;
    }
    .block__nav span{
        display: block;
        font-size: 24px;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
@media (max-width: 742px)
{
    .microd{
        display: none;
    }
    .main__block{
        display: flex;
        justify-content: start;
        gap: 5%;   
    }
    .block__nav{
        flex-basis: 30%;
    }
}
@media (max-width: 714px)
{
    .menu__item{
        display: none;
    }
    .contain__menu-cart{
        display: none;
    }
    .main__block{
        display: flex;
        justify-content: start;
        gap: 2%;   
    }
    .block__nav{
        flex-basis: 30%;
    }
    .navigate__list{
        display: none;
    }
}
@media (max-width: 682px)
{
    .block__nav{
        width: 206px;
        flex-basis: 0%;
    }
    .main__block{
        display: flex;
        justify-content: start;
        gap: 0%;   
    }
    .block__img {
        display: block;
        width: 206px;
        height: 167px;
    }
    .block__nav span{
        display: flex;
        font-size: 12px;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
@media (max-width: 682px)
{
    .block__nav{
        
        flex-basis:initial;
    }
    .main__block{
        display: flex;
        justify-content:space-between;
        gap: 5%;   
    }
    .block__img {
        display: block;
        width:206px;
        height: 167px;
    }
    .block__nav span{
        display: flex;
        font-size: 12px;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
@media (max-width: 432px){
    .main__block{
        display: flex;
        justify-content:center;
        gap: 5%;   
    }
}
@media (max-width: 300px){
    .block__nav{
        
        flex-basis:49%;
    }
    .main__block{
        display: flex;
        justify-content:space-between;
        gap: 1%;   
    }
    .block__img {
        display: block;
        width:fit-content;
        height: 167px;
    }
    .block__nav span{
        display: flex;
        font-size: 12px;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .logones{
        display: flex;
        width: 50px;
    }
    .logos{
        display: flex;
        width: 240px;
        align-items: center;
    }
    .contain__logo {
        padding: 0px 0 13px 0;    
        display: flex; 
        height: 60px;
    }
    .logos{
        margin-top: 15px;
        margin-left: 6px;
    }
    a.logo {
        display: flex;
        align-items: center;
        height: 60px;
        /**background: url("../img/logo1.png") no-repeat left center;*/
    } 
}   
